.infinite-cards-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infinite-cards {
  display: flex;
  width: max-content;
  animation: scroll 35s linear infinite;
}

.card {
  flex: 0 0 300px; /* Tamaño ajustado para pantallas más pequeñas */
  margin: 20px;
  padding: 30px;
  background: rgba(255, 255, 255, 0);
  border: none;
  text-align: center;
  color: #fff;
  transition: transform 0.3s ease;
  transform: scale(1.18);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5 - 40px * 5 - 20px * 5));
  }
}

/* Responsividad */
@media (max-width: 1200px) {
  .card {
    flex: 0 0 280px; /* Ajuste de tamaño para pantallas medianas */
    padding: 25px;
  }
}

@media (max-width: 992px) {
  .card {
    flex: 0 0 260px; /* Ajuste de tamaño para pantallas más pequeñas */
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 240px; /* Ajuste de tamaño para tablets */
    padding: 15px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-240px * 5 - 30px * 5 - 15px * 5));
    }
  }
}

@media (max-width: 576px) {
  .card {
    flex: 0 0 220px; /* Ajuste de tamaño para móviles */
    padding: 10px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-220px * 5 - 20px * 5 - 10px * 5));
    }
  }
}

@media (max-width: 400px) {
  .card {
    flex: 0 0 200px; /* Ajuste de tamaño para móviles más pequeños */
    padding: 5px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-200px * 5 - 10px * 5 - 5px * 5));
    }
  }
}
