.additional-calculator {
    text-align: center;
    margin-top: 20px;
}

.additional-calculator a {
    color: #ffa200;
    text-decoration: none;
    transition: transform .2s

}

.additional-calculator a:hover {
    text-decoration: underline;
    transform: scale(1.6);
    
    
}